<div class="col-md-12">

  <h2 class="text-center"> 我的电影 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 电影 </th>
        <th> 简介 </th>

      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(group.title, group_path(group)) %> </td>
          <td> <%= group.description %> </td>
        

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
